@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Roboto+Condensed|Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Roboto+Condensed|Yanone+Kaffeesatz");

@import url('https://fonts.googleapis.com/css?family=Volkhov:700i');
@import url('https://fonts.googleapis.com/css?family=Pacifico');




/* * {
  border: 1px solid red; 
} */

body {
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: rgba(255,255,255,0.8);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23b2b2b2' fill-opacity='0.18'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* Navigation bar begin */
 .wood-wrapper {
  background-image: url(https://res.cloudinary.com/jwkctech/image/upload/b_rgb:6f552a,o_62/v1535342029/tree_house_wall-1373553.jpg);
  background-size: cover;
  height: 225px; 
  box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);
    
}
#nav-bar {
        background-color: rgba(0, 180, 180, 0.836);
        width: 100%;
        display: flex; 
        justify-content: center;
        height: 150px;
      }
#nav-links {
    width: 55%;
    margin-left: 20px; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 1px solid red; */
    /*box-shadow: 10px 10px 25px black;
    */
}
.nav-link {
    text-decoration: none;
    padding: 10px 2.5vw;
    text-align: center;
    font-size: 1.5em;
    color: white; 
}
.nav-logo {
  margin-bottom: 10px;
  width: 20em;
  height: 200px; 
}
#logo {
  display: block;
  margin-top: 60px;
  margin-left: 1vw; 
  width: 15em;
  height: 11.5em;
  z-index: 1;
}
#contact-links{
  width: 40%; 
  margin: 15px 10px 10px 50px; 
  display: flex;
  /* border: 2px solid green; */
  flex-direction: column;
  justify-content: right;
  align-content: flex-end;
}
#top-contact{
  margin: 10px auto; 
}
#top-contact img {
  width: 34vw;
}
#contact{
  margin: 0 auto; 
  /* border: 1px solid green;  */
  display: flex; 
  justify-content: center; 
  align-items: center;  
}
#contact a {
  text-decoration: none;
  text-align: center;
  font-size: 1.75vw;
  color: white;
}
.mail-icon img {
  width: 1.5em;
  height: 1.4em;
  padding-top: 5px; 
}
.phone-num{
  text-align:center;
  padding: 5px 15px;
}
.mail-icon {
  padding: 0px 20px;
}
.foot-fb {
  padding: 0px 20px 0px 20px;
  width: 1.5em;
  height: 1.25em; 
}
.foot-fb img {
  width: 1.5em;
  height: 1.25em;
}
/* Navigation bar end */

/*Services section begins*/
.wood-border {
  display: block;
  width: 100%;
  height: 60px;
  box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);
  
}
#service-section {
    width: 100%;
  }
  

  
  .flex-container {
  display: flex; 
  flex-direction: row-reverse; 
  align-items: flex-start; 
  background-color: transparent; 
  }
  
  .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%; 
    z-index: -2
    /*background-color: #ccc;*/ 
    
  }
 
  .service-title {
    display: none;
    grid-area: title;
    height: 0px; 
    
  }
  .service-title h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
  }
  .Picture {
    width: 100%; 
    margin: 0 auto;
    
  }
  .Picture img {
    display: block;
     
    width: 100%;
     
    margin: 0 auto;
    
    
    
  }
  .paragraph {
    width:100%;
    margin: 30px auto;
    
    
  }
  .readmore {
    grid-area: read;
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .verticalTab {
    width: 40%;
    margin-top: 0px;
    margin-right: 10px;
  }
  .ser-title {
    margin-top: 50px;
    background-color: #EE982B;
    height: 13vw; 
    width: 110%;
    font-family: 'Volkhov', serif;
    
    
    color: white; 
    border-radius: 0 10px 10px 0; 
    display: flex;
    flex-direction: column; 
   
  }
  .ser-title h1 {
    margin: 15px auto; 
    font-size: 4vw; 

  }
  #wagon-wheel-break {
    display: block;
    width: 85%;
    margin-left: 30px;
    padding-bottom: 10px; 
    }
  .verticalTab ul {
    list-style-type: none;
    font-size: 3vw;
   }
  
  .tab-item {
    display: block;
    background-color: transparent;
    list-style-type: none;
    width: 100%; 
    font-size: 2.5vw!important;
    margin-top: 0px;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    margin-left: 10px; 
    cursor: pointer;
    transition: background-color 0.1s linear; 
   }
  
  .tab-item:hover  {
    /*background-color: #ccc;*/
    /* border-left: 4px solid #EE982B; */
    font-weight: 900;
    font-size: 2.75vw; 
    letter-spacing: 1px;   
    
  }
  
  .clicked {
    /*background-color: #ccc;*/ 
    /* border-left: 4px solid #EE982B;  */
    font-weight: 900;
    font-size: 3.25vw; 
    letter-spacing: 1px; 
  }

  /*Service-section ends*/

   /*footer begins*/
   #wood-wrapper-foot {
    background-image: url(https://res.cloudinary.com/jwkctech/image/upload/b_rgb:6f552a,e_contrast:26,o_62/a_180/v1535342029/tree_house_wall-1373553.jpg);
    background-size: cover;
    height: 150px; 
    box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);
    display: flex; 
    align-content: baseline;
    }
    footer {
      display: flex;
      flex-direction: column;
      align-items: center; 
      width: 100%; 
      background-color: rgba(0, 180, 180, 0.836);;
      
      
    }
    footer p {
      color: white; 
      padding-top: 30px;
  
    }
    .foot-fb {
      display: box; 
      
    }
    /*footer ends*/