@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Roboto+Condensed|Yanone+Kaffeesatz");

@import url('https://fonts.googleapis.com/css?family=Volkhov:700i');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* * {
  border: 1px solid red; 
} */
html {
       
}
body {
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: rgba(255,255,255,0.8);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23b2b2b2' fill-opacity='0.18'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* Navigation bar begin */
 .wood-wrapper {
  background-image: url(https://res.cloudinary.com/jwkctech/image/upload/b_rgb:6f552a,o_62/v1535342029/tree_house_wall-1373553.jpg);
  background-size: cover;
  height: 225px; 
  box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);
    
}
#nav-bar {
        background-color: rgba(0, 180, 180, 0.836);
        width: 100%;
        display: flex; 
        justify-content: center;
        height: 150px;
      }
#nav-links {
    width: 55%;
    margin-left: 20px; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 1px solid red; */
    /*box-shadow: 10px 10px 25px black;
    */
}
.nav-link {
    text-decoration: none;
    padding: 10px 2.5vw;
    text-align: center;
    font-size: 2em;
    color: white; 
}
.nav-logo {
  margin-bottom: 10px;
  width: 20em;
  height: 200px; 
}
#logo {
  display: block;
  margin-top: 60px;
  margin-left: 1vw; 
  width: 15em;
  height: 11.5em;
  z-index: 1;
}
#contact-links{
  width: 40%; 
  margin: 15px 10px 10px 50px; 
  display: flex;
  /* border: 2px solid green; */
  flex-direction: column;
  justify-content: right;
  align-content: flex-end;
}
#top-contact{
  margin: 10px auto; 
}
#top-contact img {
  width: 34vw;
}
#contact{
  margin: 0 auto; 
  /* border: 1px solid green;  */
  display: flex; 
  justify-content: center; 
  align-items: center;  
}
#contact a {
  text-decoration: none;
  text-align: center;
  font-size: 1.75vw;
  color: white;
}
.mail-icon img {
  width: 1.5em;
  height: 1.4em;
  padding-top: 5px; 
}
.phone-num{
  text-align:center;
  padding: 5px 15px;
}
.mail-icon {
  padding: 0px 20px;
}
.foot-fb {
  padding: 0px 20px 0px 20px;
  width: 1.5em;
  height: 1.25em; 
}
.foot-fb img {
  width: 1.5em;
  height: 1.25em;
}
/* Navigation bar end */



.wood-border {
  display: block;
  width: 100%;
  height: 60px;
  box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);
  
}

#about-container {
  display: flex; 
  justify-content: center;
   
  
}
#summary {
  width: 40%;
  margin: 0 auto;
  z-index: 1; 
}
#box-heading {
  background-color: #EE982B;
  height: 17vw; 
  font-family: 'Volkhov', serif;
  margin: 70px -30px 50px 0; 
  color: white; 
  border-radius: 0 10px 10px 0; 
  display: flex;
  flex-direction: column;
 }
#box-heading h1 {
  font-size: 3.5vw;
  font-weight:900; 
  margin: 8px 10%;   
  }
#wagon-wheel-break {
  display: block;
  width: 80%;
  margin-left: 15px; 
  }
#box-heading h2 {
  font-size: 2.5vw;
  margin: 5px 20% ;
  }
#summary p {
  font-size: 1.9vw;
  margin: 1vw auto; 
  padding: 0 1.5vw 30px 1.5vw;
  }



#about-pic {
  width: 60%;
  padding-left: -20px; 
  z-index: -2;
    

}
#about-pic img {
   width: 100%;
   height: 100%;  
}
#welcome {
  width: 100%;
  margin: 0 auto;
  display: flex; 
  flex-direction: row; 
  min-width: 700px; 
}





  /*news begins*/

  #news {
    margin: 60px 10px;
  }
  #news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px; 
  }

  .news-post {
    width: 30vw;
    margin: 10px;
  background-image: url(https://res.cloudinary.com/jwkctech/image/upload/b_rgb:6f552a,e_contrast:26,o_62/a_180/v1535342029/tree_house_wall-1373553.jpg);
    
    box-shadow: 3px 3px 25px rgba(44, 35, 16, 0.7)
     
  }
  .card-header{
    display: flex; 
    align-items: center;
    border-top: 5px solid rgba(55, 88, 126, 0.836);
    border-bottom: 5px solid rgba(55, 88, 126, 0.836);
    margin: 20px;   
    
  }
  .wagon-wheel {
    width: 3vw; 
    height: 3vw;
    padding-left: 15px;
  }

  .pic img {
    display: block;
    width: 100%; 
  }

  .card-header h1 {
    font-size: 2vw;
    letter-spacing: 0.05em;
    color:white; 
    margin: 2px 10px 2px 30px;
  }

  /*news ends*/

  /*footer begins*/
  #wood-wrapper-foot {
  background-image: url(https://res.cloudinary.com/jwkctech/image/upload/b_rgb:6f552a,e_contrast:26,o_62/a_180/v1535342029/tree_house_wall-1373553.jpg);
  background-size: cover;
  height: 150px; 
  box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);
  display: flex; 
  align-content: baseline;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    background-color: rgba(0, 180, 180, 0.836);;
    
    
  }
  footer p {
    color: white; 
    padding-top: 30px;

  }
  .foot-fb {
    display: box; 
    
  }
  /*footer ends*/

@media (max-width: 1100px) {
    .wood-wrapper {
    background-image: url(https://res.cloudinary.com/jwkctech/image/upload/b_rgb:6f552a,o_62/v1535342029/tree_house_wall-1373553.jpg);
    background-size: cover;
    height: 225px; 
    box-shadow: 0px 5px 25px rgba(44, 35, 16, 0.7);  
  }
  #nav-bar {
          background-color: rgba(0, 180, 180, 0.836);
          /* background-color: rgba(55, 88, 126, 0.76); */
          width: 100%;
          display: flex; 
          justify-content: center;
          height: 150px;
        }
  #nav-links {
      width: 55%;
      margin-left: 5vw; 
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      /* border: 1px solid red; */
      /*box-shadow: 10px 10px 25px black;
      */
  }
  .nav-link {
      text-decoration: none;
      padding: 10px 2.5vw;
      text-align: center;
      font-size: 1.8em;
      color: white; 
  }
  .nav-logo {
    margin-bottom: 10px;
    width: 20em;
    height: 200px; 
  }
  #logo {
    display: block;
    margin-top: 90px;
    margin-left: .5vw; 
    width: 12em;
    height: 9em;
    z-index: 1;
  }
  #contact-links{
    width: 40%; 
    margin: 15px 10px 10px 50px; 
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
  }
  #top-contact{
    margin: 10px auto; 
  }
  #top-contact img {
    width: 33vw;
  }
#contact{
  margin: 0 auto; 
  /* border: 1px solid green;  */
  display: flex; 
  justify-content: center; 
  align-items: center;  
}
#contact a {
  text-decoration: none;
  text-align: center;
  font-size: 1.75vw;
  color: white;
}
.mail-icon img {
  width: 1.5em;
  height: 1.4em;
  padding-top: 5px; 
}
.phone-num{
  text-align:center;
  padding: 5px 15px;
}
.mail-icon {
  padding: 0px 20px;
}
.foot-fb {
  padding: 0px 20px 0px 20px;
  width: 1.5em;
  height: 1.5em; 
}
.foot-fb img {
  width: 1.5em;
  height: 1.5em;
}
}

/* mobile layout */
@media (max-width: 900px) {


  
}
